<div class="container-fluid">
    <button type="button" class="btn btn-success" id="home" onclick= "window.location.href='/'">Home</button>
    <div id="blogs">
        <h3 class="heading">Scrapped Blogs:</h3>
        {{#each headline}}
        <div class="row " >
            <div class="card text-black blog" >
                <div class="card-header">
                    <p data-id="{{this._id}}">{{this.title}}</p>
                </div>
                <div class="card-body">
                    <a target="_blank" class="links" href="{{this.link}}">Read Blog</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Add a New Note!</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                <div id="notes" class="modal-body mx-auto">
                </div>
                <div class="modal-footer">
                    <a id = "close" class="btn btn-md" role="button" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>